.achievement-form {
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 7px -1px rgba(#2e2e2e, 0.1);
    background: $color_white;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
    // height: 250px;
    // &:hover {
    //     box-shadow: 2px 5px 9px -1px rgba(#2e2e2e, 0.5);
    //     .photo {
    //         transform: scale(1.3) rotate(3deg);
    //     }
    //     .details {
    //         left: 0%;
    //     }
    // }
    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // justify-content: flex-start;
        background: $color_white;
        position: relative;
        z-index: 0;
        flex-basis: 100%;
        width: 0px;
        .form-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            height: 50px;
            background-color: $color_prime;
            color: $color_white;
            border-bottom: 0;
            .form-title {
                padding: 1rem;
                font-size: 1rem;
                font-weight: bold;
            }
        }
        .success {
            background-color: $color_success;
        }
        .failure {
            background-color: $color_failure;
        }
        .form-card {
            @import "detail.scss";
            padding: 1rem;
        }
        .form-body {
            line-height: 1;
            margin: 0;
            font-size: 1rem;
            position: relative;
            padding: .8rem 1rem;
        }
        .form-footer {
            display: flex;
            justify-content: flex-end;
            padding: .8rem 1rem;
            .form-check-btn {
                width: 120px;
                opacity: 1;
                border-radius: 3px;
                color: $color_white;
                font-size: 1rem;
                padding: 0.2rem 0;
                transition: 0.2s;
                .form-check-text {
                    &:after {
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        font-size: 1.1rem;
                        margin-left: -10px;
                        opacity: 0;
                        vertical-align: middle;
                        transition: margin 0.2s, opacity 0.2s;
                    }
                }
                &:hover {
                    box-shadow: 2px 2px 5px -1px rgba(#2e2e2e, 0.5);
                    .form-check-text {
                        &:after {
                            margin-left: 5px;
                            opacity: 1;
                        }
                    }
                }
            }
            .success {
                border: 1px solid $color_success;
                background-color: $color_success;
                .form-check-text {
                    &:after {
                        content: "\f00c";
                    }
                }
            }
            .failure {
                border: 1px solid $color_failure;
                background-color: $color_failure;
                .form-check-text {
                    &:after {
                        content: "\f00d";
                    }
                }
            }
        }
    }
    @media (max-width: 639px) {
        .description {
            .form-body {
                font-size: .8rem;
                .card-text {
                    ul {
                        padding-left: 10px;
                    }
                }
                textarea {
                    font-size: .8rem;
                }
            }
        }
    }
}
