* {
    margin: 0;
}
footer {
    height: auto;
    color: #fff;
    background-color: #000;
    .container {
        max-width: 1200px;
        padding: 20px 20px;
        margin: 0 auto;
        .footA {
            display: flex;
            align-items: center;
            justify-content: center;
            .title {
                padding: 1rem 2rem;
                font-weight: bold;
                font-size: 2rem;
                color: #fff;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
        .footB {
            display: flex;
            align-items: center;
            justify-content: center;
            ul {
                display: flex;
                text-align: center;
                margin: 2rem auto 0 auto;
                padding: 0;
                list-style: none;
            }
            a {
                display: block;
                padding: 0;
                padding-bottom: 2px;
                margin: 1rem;
                color: $color_white;
                font-size: 1.2rem;
                text-decoration: none;
                line-height: 20px;
                border-bottom: 3px solid #000;
                transition: 0.2s;
                letter-spacing: 3px;
                &:hover {
                    border-bottom: 3px solid $color_white;
                }
            }
        }
        .footC {
            padding: 20px 0;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            .title {
                font-size: 1rem;
                margin: 0%;
            }
        }
    }
}

// @media (min-width: 1000px) {
//     .footA {
//         .title {
//             font-size: 5rem;
//         }
//     }
//     .footB {
//         ul {
//             display: flex;
//         }
//         a {
//             margin-left: 20px;
//             margin-right: 20px;
//             margin-bottom: 0;
//         }
//     }
// }

@media (max-width: 639px) {
    footer {
        .container {
            .footA {
                .title {
                    font-size: 1.5rem;
                }
            }
            .footB {
                ul {
                    flex-direction: column;
                }
                a {
                    margin: .5rem;
                    font-size: 1rem;
                }
            }
            .footC {
                .title {
                    font-size: .8rem;
                }
            }
        }
    }
}
