// /*
// ** The Header Media Queries **
// ** Tweak as per your needs **
// */
// .brand {
//     color: white;
//     font-weight: bold;
//     font-size: 20px; }

// .brand:hover {
//     color: white;
//     opacity: 0.8;}

// .wrapper {
//     max-width: 1140px;
//     padding-left: 1rem;
//     padding-right: 1rem;
//     margin: 0 auto; }

// .nav ul {
//     list-style: none;
//     margin: 0 auto;
// }

// .site-header {
//     position: relative;
//     background-color: #000; }

// .site-header__end {
//     display: flex;
//     align-items: center; }

// .site-header__wrapper {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding-top: 1rem;
//     padding-bottom: 1rem; }
// @media (min-width: 800px) {
//     .site-header__wrapper {
//         padding-top: 0;
//         padding-bottom: 0; } }
// @media (min-width: 800px) {
//     .nav__wrapper {
//         display: flex; } }
// @media (max-width: 799px) {
//     .nav__wrapper {
//         position: absolute;
//         top: 100%;
//         right: 0;
//         left: 0;
//         z-index: -1;
//         // background-color: #d9f0f7;
//         background-color: gray;
//         visibility: hidden;
//         opacity: 0;
//         transform: translateY(-100%);
//         transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
//     .nav__wrapper.active {
//         visibility: visible;
//         opacity: 1;
//         transform: translateY(0); } }

// @media (min-width: 800px) {
//     .nav__drop {
//         display: none; } }
// @media (max-width: 799px) {
//     .nav__drop {
//         position: absolute;
//         top: 100%;
//         right: 0;
//         left: 0;
//         z-index: 10;
//         // background-color: #d9f0f7;
//         background-color: gray;
//         visibility: hidden;
//         opacity: 0;
//         transform: translateY(-100%);
//         transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
//     .nav__drop.active {
//         visibility: visible;
//         opacity: 1;
//         transform: translateY(0); } }

// .nav__item a {
//     color: white;
//     display: block;
//     padding: 1.5rem 1rem; }

// .nav__item:hover {
//     transition: all .2s;
//     opacity: 0.8; }

// .nav__toggle {
//     display: none; }
// @media (max-width: 799px) {
//     .nav__toggle {
//         display: block;
//         position: absolute;
//         right: 1rem;
//         top: 1rem; } }


/*
** The Header Media Queries **
** Tweak as per your needs **
*/

$small: 600px;

.brand {
    color: honeydew;
    font-weight: bold;
    font-size: 20px;
    &:hover {
        color: honeydew;
        opacity: 0.8;
    }
}

.wrapper {
    max-width: 1440px;
    padding: 0 1rem;
    margin: 0 auto;
}

.site-header {
  position: relative;
  background-color: #263238;
}

.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (min-width: $small) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.nav__wrapper {
  @media (min-width: $small) {
    display: flex;
  }

  @media (max-width: ($small - 1)) {
    display: none;
    // position: absolute;
    // top: 100%;
    // right: 0;
    // left: 0;
    // z-index: -1;
    // background-color: #37474F;
    // visibility: hidden;
    // opacity: 0;
    // transform: translateY(-100%);
    // transition: transform 0.3s ease-out, opacity 0.3s ease-out;

    // &.active {
    //   visibility: visible;
    //   opacity: 1;
    //   transform: translateY(0);
    // }
  }
}

.nav__item {
    a {
        color: honeydew;
        display: block;
        padding: 1.5rem 1rem;
        margin: auto;
    }

    .search {
        color: honeydew;
        display: block;
        padding: 1rem 1rem;
        margin: auto;
    }
    // &:hover {
    //     box-shadow: 0 0 10px gray;
    // }


}

.nav__toggle {
  display: none;

  @media (max-width: ($small - 1)) {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.nav ul {
    list-style: none;
    margin: 0 auto;
}
