$small: 640px;

.icon {
    img {
        width: 200px;
    }
    @media (max-width: ($small - 1)) {
        img {
            width: 150px;
        }
    }
    &:hover {
        opacity: 0.6;
    }
}

.wrapper {
    max-width: 1440px;
    padding: 0 1rem;
    margin: 0 auto;
}

.site-header {
    position: relative;
    background-color: $color_stylish_dark;
    // height: 80px;
}

.site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media (min-width: $small) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.nav__wrapper {
    @media (min-width: $small) {
        display: flex;
    }

    @media (max-width: ($small - 1)) {
        display: none;
    }
}

.nav__item {
    a {
        color: honeydew;
        display: block;
        padding: 1.5rem .5rem;
        margin: auto;
        transition: 0s;
        &:hover {
            opacity: 0.6;
        }
    }

    .search {
        color: honeydew;
        display: block;
        padding: 1rem 1rem;
        margin: auto;
    }
    // &:hover {
    //     box-shadow: 0 0 10px gray;
    // }
}

.nav__toggle {
    display: none;

    @media (max-width: ($small - 1)) {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
}

.nav ul {
    list-style: none;
    margin: 0 auto;
}
