.tabs-item {
    ul {
        .nav-item {
            a {
                padding: 0.5rem 0px;
                color: $color_grey_dark;
            }
            &:hover {
                background-color: $color_grey;
                opacity: 0.8;
            }
        }
    }
}
@media (max-width: 639px) {
    .tabs-item {
        ul {
            .nav-item {
                a {
                    font-size: 0.6rem;
                }
            }
        }
    }
}
